 {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: "Courier New", monospace;
  image-rendering: pixelated;
}



.intro-page {
  min-height: 100vh;

  background:
    radial-gradient(
      circle,
      #fffdf8 0%,
      #fffaf1 100%
    );

  overflow: hidden;

  position: relative;
}


.floating-hearts {
  position: fixed;
  inset: 0;

  pointer-events: none;
}

.floating-hearts span {
  position: absolute;

  color: #a83e4d;

  font-size: 16px;

  opacity: .85;

  animation: tinyFloat 2s infinite alternate;
}

@keyframes tinyFloat {

  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-4px);
  }
}



.intro-content {
  position: relative;

  z-index: 2;

  min-height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  cursor: pointer;
}



.envelope {
  width: 165px;
  height: 120px;

  position: relative;

  background: #fff9ef;

  border: 6px solid #b44752;

  box-shadow:
    6px 6px 0 #e7b8b7;

  transition: .2s;
}

.envelope:hover {
  transform: translateY(-5px);
}

.flap {
  position: absolute;

  width: 108px;
  height: 108px;

  left: 23px;
  top: -3px;

  border-right: 5px solid #c7848a;
  border-bottom: 5px solid #c7848a;

  transform: rotate(45deg);
}

.heart-seal {
  position: absolute;

  left: 63px;
  top: 52px;

  font-size: 30px;

  color: #a93e4d;

  z-index: 5;
}

.intro-title {
  margin-top: 45px;

  font-size: 23px;

  color: #25232a;

  text-shadow:
    1px 1px #f2c2c7;

  letter-spacing: -1px;
}



.love-page {
  min-height: 100vh;

  background:
    #fffaf2;

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 20px;
}



.computer-window {
  width: min(700px, 94vw);

  background: #f9dfe4;

  border: 7px solid #b43f4c;

  box-shadow:
    8px 8px 0 #d78b91,
    inset 0 0 0 4px #f4b7bd;

  padding: 8px;
}



.top-bar {
  height: 55px;

  border-bottom: 7px solid #b43f4c;

  display: flex;

  justify-content: space-between;
  align-items: center;

  padding: 0 15px;

  color: #b43f4c;

  font-size: 32px;

  font-weight: bold;

  letter-spacing: -2px;
}



.heart-header {
  height: 105px;

  display: flex;

  align-items: center;
  justify-content: center;

  gap: 45px;

  border-bottom: 7px solid #b43f4c;

  color: #b43f4c;
}

.heart-header span {
  font-size: 65px;

  line-height: 1;
}

.heart-header i {
  font-style: normal;

  font-size: 35px;
}



.pixel-screen {
  position: relative;

  min-height: 440px;

  margin: 12px;

  border: 6px solid #b43f4c;

  background-color: #f6cbd3;

  background-image:
    linear-gradient(
      45deg,
      rgba(255,255,255,.35) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255,255,255,.35) 75%
    ),
    linear-gradient(
      45deg,
      rgba(255,255,255,.35) 25%,
      transparent 25%,
      transparent 75%,
      rgba(255,255,255,.35) 75%
    );

  background-position:
    0 0,
    10px 10px;

  background-size:
    20px 20px;

  display: flex;

  justify-content: center;
  align-items: center;

  overflow: hidden;
}



#questionBox {
  text-align: center;

  width: 100%;

  position: relative;

  transition: .4s;
}

.question {
  margin: 0 0 18px;

  font-size: 22px;

  color: #25232a;

  font-weight: bold;
}


.cat-area {
  position: relative;

  width: 270px;
  height: 210px;

  margin: auto;
}

.cat {
  position: absolute;

  left: 55px;
  top: 10px;

  width: 160px;
  height: 190px;
}



.cat-head {
  position: absolute;

  left: 25px;
  top: 20px;

  width: 110px;
  height: 100px;

  background: #292735;

  border-radius: 18px 18px 25px 25px;

  z-index: 4;
}



.ear {
  position: absolute;

  width: 40px;
  height: 45px;

  background: #292735;

  top: 0;

  z-index: 2;
}

.left-ear {
  left: 2px;

  clip-path:
    polygon(0 100%, 10% 0, 100% 70%);
}

.right-ear {
  right: 2px;

  clip-path:
    polygon(0 70%, 90% 0, 100% 100%);
}



.eye {
  position: absolute;

  width: 22px;
  height: 30px;

  top: 35px;

  border: 5px solid #f4f1ea;

  background: #292735;
}

.left-eye {
  left: 20px;
}

.right-eye {
  right: 20px;
}



.cheek {
  position: absolute;

  top: 72px;

  color: #f4f1ea;

  font-size: 16px;
}

.left-cheek {
  left: 5px;
}

.right-cheek {
  right: 5px;
}



.nose {
  position: absolute;

  width: 10px;
  height: 8px;

  background: #f09ba5;

  left: 50px;
  top: 72px;
}



.cat-body {
  position: absolute;

  width: 105px;
  height: 90px;

  left: 27px;
  top: 100px;

  background: #292735;

  border-radius: 50%;

  z-index: 2;
}



.cat-heart {
  position: absolute;

  z-index: 5;

  left: 35px;
  top: 95px;

  color: #a9414f;

  font-size: 90px;

  line-height: 1;
}



.tail {
  position: absolute;

  width: 70px;
  height: 100px;

  border: 15px solid #292735;

  border-left: 0;

  border-radius: 0 70px 70px 0;

  right: -8px;
  top: 80px;

  transform: rotate(-25deg);

  z-index: 1;
}


.yes,
.no {
  font-family: "Courier New", monospace;

  font-size: 22px;

  font-weight: bold;

  color: #b43f4c;

  background: #fff5f0;

  border: 5px solid #d88c93;

  box-shadow:
    4px 4px 0 #b43f4c;

  padding: 7px 18px;

  cursor: pointer;

  image-rendering: pixelated;
}

.yes {
  margin-top: 5px;
}

.yes:hover {
  transform: translateY(-3px);
}

.no {
  position: absolute;

  left: 175px;
  top: 90px;

  z-index: 10;
}

.no:hover {
  background: #fff;
}



#letterBox {
  display: none;

  width: 100%;

  opacity: 0;

  transform: scale(.95);

  transition: .4s;
}

#letterBox.show {
  opacity: 1;

  transform: scale(1);
}

.letter {
  width: 90%;

  max-height: 390px;

  overflow-y: auto;

  margin: auto;

  background: #fffaf1;

  border: 5px solid #b43f4c;

  box-shadow:
    5px 5px 0 #d78b91;

  padding: 20px;

  color: #292735;

  line-height: 1.6;

  font-size: 14px;
}

.letter-header {
  text-align: center;

  color: #b43f4c;

  font-size: 22px;

  font-weight: bold;

  padding-bottom: 12px;

  border-bottom: 3px dashed #d78b91;

  margin-bottom: 15px;
}

.letter-content p {
  margin: 0 0 15px;
}

.signature {
  text-align: right;

  color: #b43f4c;

  font-weight: bold;

  margin-top: 20px;
}


@media (max-width: 600px) {

  .love-page {
    padding: 10px;
  }

  .computer-window {
    width: 96vw;

    border-width: 5px;
  }

  .top-bar {
    height: 45px;

    font-size: 24px;
  }

  .heart-header {
    height: 75px;

    gap: 20px;
  }

  .heart-header span {
    font-size: 45px;
  }

  .heart-header i {
    font-size: 25px;
  }

  .pixel-screen {
    min-height: 420px;

    margin: 7px;

    border-width: 4px;
  }

  .question {
    font-size: 18px;
  }

  .cat-area {
    transform: scale(.85);

    margin-top: -5px;
    margin-bottom: -5px;
  }

  .yes,
  .no {
    font-size: 18px;
  }

  .letter {
    width: 94%;

    max-height: 370px;

    font-size: 12px;

    padding: 14px;

    line-height: 1.55;
  }

  .letter-header {
    font-size: 18px;
  }

  .intro-title {
    font-size: 19px;
  }

  .envelope {
    width: 140px;
    height: 100px;
  }

  .heart-seal {
    left: 52px;
    top: 42px;
  }
}